body {
    background-color: white;
    font-family: Arial,sans-serif;
    padding: 20px;
}

div.wrapper {
    width: 1024px;
    margin: auto;
}

nav {
    background-color: black;
    padding: 10px;
    margin-top: 30px;
}

nav a {
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
    border-right: 2px solid white;
}

main {
    background-color: white;
    display: inline-block;
}
article {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: 1%;
    height: auto;
}



table {
    border:1px solid black;
    border-collapse: collapse;
    width: 48%;
    margin-right: 1%;
    margin-top: 20px;
}
td {
    padding: 15px;
    border: 1px solid black;
}

td.green {
    background-color:  #b3ffb3;
}

td.blue {
    background-color:  #b3ffe6;
}

footer {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    padding-right: 5px;
    border-right: 2px solid white;
}