* {
    box-sizing:border-box;
}

body {
    font-family: Arial,sans-serif;
}

section.top {
    width: 50%;
    float: left;
}
section#botton {
    height: 50%;
    float: bottom;
}

div.form-group {
    width: 300px;
    padding: 10px;
}

div#textarea {
    width: 400px;
    padding: 10px;
}

input {
    float: right;
    width: 150px;
}

input.radio {
    float: none;
    width: auto;
}

div.radio {
    float: right;
    width: 150px;
}

select {
    float: right;
    width: 150px;
}

textarea {
    float: right;
}