body {
    font-family: Arial,sans-serif;
}
div.form-group {
    width: 300px;
    padding: 10px;
}
input {
    float: right;
    width: 150px;
}

input.radio {
    float: none;
    width: auto;
}

div.radio {
    width: 150px;
    float: right;
}

select {
    float: right;
    width: 150px;
}